[submodule "data"]
	path = data
	url = git://git.sfiera.net/ares-data
[submodule "test"]
	path = test
	url = git://git.sfiera.net/AntaresPngTestData
[submodule "ext/libsfz"]
	path = ext/libsfz
	url = git://git.sfiera.net/libsfz
[submodule "ext/librgos"]
	path = ext/librgos
	url = git://git.sfiera.net/librgos
[submodule "ext/librezin"]
	path = ext/librezin
	url = git://git.sfiera.net/librezin
[submodule "ext/libpng"]
	path = ext/libpng
	url = git://git.sfiera.net/libpng
