[submodule "test"]
	path = test
	url = https://code.google.com/p/antares.testdata-text/
[submodule "ext/libsfz"]
	path = ext/libsfz
	url = git://github.com/sfiera/libsfz.git
[submodule "ext/libzipxx"]
	path = ext/libzipxx
	url = git://github.com/sfiera/libzipxx.git
[submodule "ext/rezin"]
	path = ext/rezin
	url = git://github.com/sfiera/rezin.git
[submodule "ext/waf-sfiera"]
	path = ext/waf-sfiera
	url = git://github.com/sfiera/waf-sfiera.git
[submodule "ext/gmock-waf"]
	path = ext/gmock-waf
	url = https://github.com/sfiera/gmock-waf.git
[submodule "ext/libpng-waf"]
	path = ext/libpng-waf
	url = https://github.com/sfiera/libpng-waf.git
