[Desktop Entry]
Type=Application
Name=Antares
GenericName=Space game
Comment=A tactical space-combat game
Keywords=game;strategy;space;
Categories=Game;
Exec=/usr/games/antares %f
MimeType=application/x-antares-plugin
Icon=antares
Terminal=false
